
/* Gooogle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* Global styles*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background: radial-gradient(#f8b679, #ff7300) no-repeat center;
    overflow-x: hidden;
    position: relative;
  }

h1,h2,h3 {
    text-align: center;
}

/* Grid*/

.grid-parent-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header-grid-child-container { grid-area: 1 / 1 / 2 / 6; }
    .scoreboard-grid-child-container{ grid-area: 2 / 3 / 3 / 4; }
    .playground-grid-child-container { grid-area: 3 / 2 / 7 / 5; }
    .leaderboard-grid-child-container{ grid-area: 7 / 3 / 8 / 4; }
    .footer-grid-child-container{ grid-area: 8 / 1 / 9 / 6; }

