/* Gooogle fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* Global styles*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background: radial-gradient(#f8b679, #ff7300) no-repeat center;
    overflow-x: hidden;
  }

h1 {
    font-size: 50px;
}

h1,h2,h3 {
    text-align: center;
}

/* Preloader*/

.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: radial-gradient(#f8b679, #ff7300) no-repeat center;
z-index: 9999;
text-align: center;
}	

.preloader-icon {
position: relative;
top: 45%;
height: 200px;
width: 200px;
animation: rotate 2s linear infinite;
}	@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader-text {
    font-size: 30px;
    position: relative;
    top: 47%;
    margin-left: 45%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* Landing page*/

/*Username modal*/

.username-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .user-name {
    background-color: transparent;
    font-size: 20px;
  }

  .user-name:hover {
    transform: scale(1.4);
  }


/* Grid*/

.grid-parent-container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header-grid-child-container { grid-area: 1 / 1 / 2 / 6; }
    .scoreboard-grid-child-container{ grid-area: 2 / 3 / 3 / 4; }
    .playground-grid-child-container { grid-area: 3 / 2 / 7 / 5; }
    .leaderboard-grid-child-container{ grid-area: 7 / 3 / 8 / 4; }
    .footer-grid-child-container{ grid-area: 8 / 1 / 9 / 6; }

/* Scoreboard  */

.scoreboard-grid-child-container{
    margin-top: 30px;
}
.scoreboard, .round-count-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scoreboard h2 {
    font-size: 1.5em;
  }
  
  .user-score-count, .cpu-score-count, .versus-container{
    display: flex;
  }

  .versus-container {
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .user-score, .cpu-score, .round-count, .round-count {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5em;
  }

  .versus-name, .cpu-name, .round-name {
    margin-left: 5px;
  }

  .username {
    margin-left: 40px;
  }

  .cpu-name {
    margin-right: 5px;
  }
  
  .user-score, .cpu-score, .round-count {
    margin-right: 5px;
  }

/* Playground */

.playground-grid-child-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.image-container{
    position: relative;
  }

.main-image {
    margin-top: 7rem;
  }

.spock, .rock, .lizard, .paper, .scissors{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #f8b679;
    border: 2px solid;
    position: absolute;
    overflow: hidden;
  }

  .user-option-img {
    width: 65%;
    height: 65%;
  }

  .user-option-img:hover {
    transform: scale(1.2);
  }

  .spock{
    top: 5%;
    left: 33%
  }
  
  .rock {
    top: 29%;
    left: -35%;
  }
  
  .lizard {
    top: 29%;
    right: -35%;
  }
  
  .paper {
    top: 69%;
    right: -35%;
  }
  
  .scissors {
    top: 69%;
    left: -35%;
  }
  
  /* Leaderboard */

  .leaderboard-grid-child-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .btn-leaderboard {
    color: black;
    margin-top: -40px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #f8b679;
    border: 2px solid;
    position: absolute;
    overflow: hidden;
  }

  .leaderboard-option-img {
    width: 80%;
    height: 80%;
  }

  .leaderboard-option-img:hover {
    transform: scale(1.1);
  }
  
  /* Game rules button*/

  .btn-game-rules {
    background: #f99130;
    margin-top: 60px;
    color: black;
  }

  .btn-game-rules:hover {
    transform: scale(1.1);
  }

  /* Username, rules & leaderboard modals*/

.modal-background {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  text-align: center;
  background-color: #f8cca0;
  margin: 120px auto; 
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  height: auto; 
}

.table-container{
  overflow-x:auto;
}

.lead-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.rules-close, .leaderboard-close  {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.rules-close:hover,
.rules-close:focus,
.leaderboard-close:hover,
.leaderboard-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Leaderboard table*/

td, th {
  border: 2px solid white;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

  /* Footer */
  
  .social-media {
    text-align: center;
  }
  
  .social-media > li {
    display: inline;
  }
  
  .social-media i {
    font-size: 25px;
    padding: 25px;
    color: black;
  }

/* For medium screen sizes from 529px wide and down */
@media screen and (max-width: 529px){

    /* Preloader*/

  .preloader-icon {
   height: 100px;
   width: 100px;
  }

  .preloader-text {
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin-left: 40%;
  }

    .grid-parent-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .header-grid-child-container { grid-area: 1 / 1 / 2 / 6; }
        .scoreboard-grid-child-container{ grid-area: 2 / 3 / 3 / 4; }
        .playground-grid-child-container { grid-area: 3 / 2 / 6 / 5; }
        .leaderboard-grid-child-container { grid-area: 6 / 3 / 7 / 4; }
        .footer-grid-child-container{ grid-area: 7 / 1 / 8 / 6; }
  
    .main-image {
      width: 150px;
      height: 150px;
      margin-top:4rem;
      position: relative;
    }
  
    .user-option-img {
      width: 50%;
      height: 50%;
      background-color: transparent;
    }
  
    .btn-scoreboard {
      margin-right: 5px;
    }

    .lead-table {
      table-layout: fixed;
      width: auto;
      height: auto;
    }
  
    .spock, .rock, .lizard, .paper, .scissors{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #f8b679;
      border: 3.5px solid;
      border-color: black;
      position: absolute;
      overflow: hidden;
    }
    
    .spock{
      top: 1%;
      left: 33%
    }
    
    .rock {
      top: 28%;
      left: -34%;
    }
    
    .lizard {
      top: 28%;
      right: -34%;
    }
    
    .paper {
      top: 73%;
      right: -36%;
    }
    
    .scissors {
      top: 73%;
      left: -36%;
    }   
  
  }

  /* For small screen sizes from 330px wide and down */
@media screen and (max-width: 330px){
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 15px;
    }   

    .scoreboard-grid-child-container {
        margin-top: 5px;
    }

    .scoreboard h2 {
        font-size: 1.3em;
      }

      .versus-container {
        margin-right: 15px;
        margin-left: 15px;
      }
      
      .user-score, .cpu-score, .round-count, .round-count {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.3em;
      }
    
    .username {
        margin-left: 20px;
    }

    .btn-leaderboard {
      width: 50px;
      height: 50px;
    }
}
